<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Ranking $ranking
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $ranking->Id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $ranking->Id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Ranking'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="ranking form large-9 medium-8 columns content">
    <?= $this->Form->create($ranking) ?>
    <fieldset>
        <legend><?= __('Edit Ranking') ?></legend>
        <?php
            echo $this->Form->control('Name');
            echo $this->Form->control('Score');
            echo $this->Form->control('Created');
            echo $this->Form->control('Stage');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
